.background{
    /* margin:5em; */
}
.foreground{
    margin:10%;
    /* background-color: blanchedalmond; */
    border-bottom-right-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading{
    text-align: center;
}

.notes_heading{
    text-align: start;
    padding-left: 2rem;
}

.paragraph_style{
    padding-left: 2rem;
    
}

#home_p{
    padding:2rem;
}

.main_img_div{
 margin-right: 0px;
 align-content: flex-end;
}
.main_img{
    width: 100%;
    border-bottom-right-radius: 2rem;
}


